
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.ligth{
    width: 110px;
    height: 150px;
    cursor: pointer;
    opacity: 0.4;
}

.luz-trafico{
    width: 200px;
    height: 170px;
    background-color: black;
    border-radius: 15px;

}
.luz-roja{
    background: red;
    width: 130px;
    height:180px;
}

.luz-amarilla{
    background: yellow;
    width: 130px;
    height:180px;
}

.luz-verde{
    background: green;
    width: 130px;
    height:180px;
}

.glow{
    box-shadow: 2px -1px 41px 39px rgba(217,210,35,0.75);
    opacity: 1 !important;
}